<main>
	<div class="book">
		<div class="book-cover">
			<div>
				<h1>{{ churchInfo }}</h1>
				<h1>{{ churchInfo2 }}</h1>
				<div class="separator"></div>
				<h2>....</h2>
			</div>
			
		</div>
		<div class="book-content">
			<div class="top-space"></div>
			<div class="col text-center">
				<h1>{{ title }}</h1>
			</div>
			<div class="middle-space"></div>
			<div>
				<p style="text-align:center;font-family:'ZnikomitSC',serif;font-size:20px;font-weight:bold"> {{ churchName }}</p>
			</div>
			<div class="middle-space"></div>
			<div class='col text-center'>
				<p style="text-align:center;font-family:'ZnikomitSC',serif;font-size:20px;font-weight:bold">{{ address }}</p>
				<p style="text-align:center;font-family:'ZnikomitSC',serif;font-size:20px;font-weight:bold">{{ address2 }}</p>
				<a href="https://www.google.com/maps/place/Parroquia+Santa+Cruz+y+la+Virgen+del+Rosario/@17.6648947,-101.5971667,19.32z/data=!4m15!1m8!3m7!1s0x84347688200d77c9:0xbceceafb7abd7c5b!2sIxtapa+Zihuatanejo,+Gro.!3b1!8m2!3d17.6625661!4d-101.58734!16s%2Fm%2F04y5jwq!3m5!1s0x84347666fde6b171:0x397814a9c0785532!8m2!3d17.6649452!4d-101.5974016!16s%2Fg%2F1wfcpght?entry=ttu">
					<img style="width: 25px;height:40px;transform-origin: top left; " src="../../assets/pics/location.png" alt="Ubicacion imagen">
				</a>
				<div><img src="../../assets/pics/church2.png" class="img-fluid" style="width:100%" alt="..."></div>
			</div>
		</div>
	</div>
</main>