.barra {
	background-color: #D3CCBE;
	font-family: HandMarker;
	font-size: 30px;
}
.barra .nav-link {
  color: #AA835C; /* Color del texto para enlaces inactivos */
}

.nav-item.active {
  /* Estilos para el elemento activo */
  background-color: #d6c38b; /* Por ejemplo, cambiar el color de fondo */
  /* Otros estilos que desees aplicar */
}

