<main>
	<head>
		<!--script src="https://kit.fontawesome.com/5a95d5245f.js" crossorigin="anonymous"></script-->
	</head>
	<body>
	<div class="book">
		<!--div class="book-cover">
			<div>
				<h1>{{ groomName }}</h1>
				<h1>y</h1>
				<h1>{{ brideName }}</h1>
			</div>
		</div-->

		<div id="video-background">
			<video autoplay muted loop>
				<source src="../../assets/video/background.mp4" type="video/mp4">
					<!-- También puedes agregar otros formatos de video aquí -->
			</video>
				<!-- Aquí puedes agregar otros contenidos dentro del div, como texto u otros elementos -->
				<div class="book-cover">
					<div>
						<h1>{{ groomName }}</h1>
						<h1>y</h1>
						<h1>{{ brideName }}</h1>
					</div>
				</div>
		</div>


			<div class="book-content">
				<div class="col text-center">
					<h1> ¡Nos vamos a casar! </h1>
					<img class="icon-size-inverted" src="../../assets/pics/icons/rabbit.svg" alt="rabbit">
					<img class="icon-size" src="../../assets/pics/icons/heart-regular.svg" alt="heart">
					<img class="icon-size" src="../../assets/pics/icons/rabbit.svg" alt="rabbit">
				</div>


				<div class="col text-center">
					<h2> Estamos muy emocionados de compartirte </h2>
					<h3> que uniremos nuestras vidas en sagrado Matrimonio </h3>
					<h3> y tenemos el honor de invitarte a ser parte </h3>
					<h3> de esta celebración. </h3>
					<div class="line"></div>
					<img class="icon-size" src="../../assets/pics/icons/calendar.svg" alt="calendar">
					<h2> La boda será el día </h2>
					<h2> Noviembre 22, 2024 </h2>
					<div class="line"></div>
					<h2> Con la gracia de Dios </h2>
					<h2> y la bendición de nuestros padres: </h2><br>
					<h3> Maria Bertha Salazar Marino </h3>
					<h3> Roberto García Lopez </h3>
					<h4> Padres de la Novia </h4>
					<div class="line"></div>
					<h3> Victoria Martinez García </h3>
					<h3> Justino Monterrosas Zambrano </h3>
					<h4> Padres del  </h4>
				</div>
			</div>
		</div>		
	</body>
</main>