.book-cover {
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del div */
	background: url("../../assets/pics/detailsCover.jpg") center no-repeat;
	text-align: center;
}
.book-cover h1 {
	font-family: "Cherolina", sans-serif;
	font-size: 90px;
	font-weight: 400;
	color: #EFB810;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.book-content {
	font-family: "HandMarker", sans-serif;
}
.line {
    width: 30%; /* Ancho completo */
    height: 1px; /* Altura de la línea */
    background-color: #d69333; /* Color de la línea */
    opacity: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.icon-size {
	height: 20px;
	width: 20px;
}
.a-nav-search_logo {
    background: #e10098;
 	height: auto;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}