<main>
	<head>
		<link rel="stylesheet" href="../../assets/pics/icons/font-awesome-4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="book">
			<div class="book-cover">
				<div>
					<h1>{{ partyInfo }}</h1>
					<h1>{{ partyInfo2 }}</h1>
				</div>

			</div>
			<div class="book-content">
				<div class="col text-center">
					<h1>{{ title }}</h1>
				</div>
				<div class="col text-center">
					<i class="fa fa-gift" aria-hidden="true"></i>
					<h3> Sugerencia de Regalo </h3>
					<p> ¡Nuestro mejor regalo es tu presencia! </p>
					<p> Si deseas obsequiarnos algo te dejamos</p>
					<p> el siguiente enlace: </p>

					<div class="line"></div>
					<img src="../../assets/pics/icons/hat.png" class="icon-size">
					<h3> Código de Vestimenta </h3>
					<p>  Ropa formal </p>
					<p>  (No ropa playa, bermudas, playeras, vestidos casuales) </p>

					<div class="line"></div>

					<table class="table table-borderless table-sm">
						<thead>
							<tr>
								<th class="custom-th">
									<i class="fa fa-ban" aria-hidden="true"></i>
									<i class="fa fa-child" aria-hidden="true"></i>
								</th>
							</tr>
						</thead>
					</table>
					<h3>No niños</h3>
					<p>  Amamos a sus pequeños, pero queremos </p>
					<p>  que este día sólo tengan que preocuparse </p>
					<p>  por pasarla increible. </p>
					<img src="../../assets/pics/detailsPicture.jpg">
				</div>
			</div>
		</div>
	</body>
</main>